<div data-task-fields-target='fields'>
  <%# <%= f.input :task_category_id, as: :select, collection: TaskCategory.all %>
  <%= f.input :name %>
  <%= f.input :description %>
  <p style="background-color: blue; width: fit-content; padding: 8px; color: white;" data-action='click->task-fields#remove' data-task-fields-target='removeButton'>Remove Task</p>
</div>
