<div id="tasks">
  <%= render 'tasks/form', task: @task %>
  <% @task_list.tasks.each do |task| %>
    <%= render 'tasks/task', task: task %>
  <% end %>
</div>

<%= render 'invitations/form',  invitation: @invitation %>
